# Local or External or DDNS Address
rcon_host=65.109.113.61
rcon_pass=SUPERPASSWORD
# Discord Webhook
WEBHOOK_URL=
STARTMESSAGE=**Кластер**\nЗапущен сервер ServerId-
# Webhook and rcon text messages (use escape for special characters)
MESSAGE1=@here\n**Кластер**\nЗапланированый рестарт\nСервер будет перезагружен через 10 минут^!
MESSAGE2=**Кластер**\nЗапланированый рестарт\nСервер будет перезагружен через 5 минут^!
MESSAGE3=@here\n**Кластер**\nЗапланированый рестарт\nСервер будет перезагружен через 1 минуту^!
rconmessage1=Рестарт через 10 минут
rconmessage2=Рестарт через 5 минут
rconmessage3=Рестарт через 1 минуту С ЭТОГО МОМЕНТА ПЕРЕЛОЖЕННЫЙ ЛУТ НЕ СОХРАНИТСЯ
# prefix added to main notifications during updates
PREFEXDIS= Update Game Version^!
PREFEXRCON= Update Game Version!
